.user {
  margin: 2rem auto;
  width: 90%;
  padding: 1rem;
  max-width: 40rem;
  border: 10px groove rgb(229, 255, 0);
  margin: 0.5rem 0;
}

.users ul {
  list-style: none;
  padding: 1rem;

  margin: 2rem auto;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
}

.user li {
  border: 10px groove rgb(0, 0, 0);
  margin: 0.5rem 0;
  padding: 0.5rem;
  display: block;
}
